##########################################
# Common Settings
##########################################

# This file is the top-most EditorConfig file
root = true

# All Files
[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 80
end_of_line = lf

##########################################
# File Extension Settings
##########################################

# Markdown Files
[*.md]
trim_trailing_whitespace = false

# Makefile Files
[{Makefile,**.mk}]
# Use tabs for indentation (Makefiles require tabs)
indent_style = tab

# YAML Files
[*.{yml,yaml}]
indent_size = 2

[*.{tf,tfvars}]
indent_size = 2
indent_style = space
